<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<div class="blog_image">
    <p class="blog_image_lable"><%= form.label :image %></p>
    <p class="blog_image_input"><%= form.file_field :image, id: :@blog_image %></p>
    <%= image_tag(@blog.image.url) if @blog.image.url %>
    <%= form.hidden_field :image_cache %>
  </div>
<% end %>
<%= link_to "ブログ一覧画面にもどる", blogs_path %>
