<h1>Sign up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div class="new_icon">
          <p class="new_icon_lable"><%= form.label :icon_image %></p>
          <p class="new_icon_image"><%= form.file_field :icon_image, id: :@user_icon_image %></p>
          <%= image_tag(@user.icon_image.url) if @user.icon_image.url %>
          <%= form.hidden_field :icon_image_cache %>
        </div>


  <%= f.submit "Create my account" %>
<% end %>
