
<h1><%= @user.name %>のページ</h1>
<p class="user_infomation_image">
</p>
<p class="user_infomation">メールアドレス: <%= @user.email %></p>
<%= image_tag(@user.icon_image) if @user.icon_image %>
<p class="user_infomation">
  <%= link_to 'ユーザー情報を編集', edit_user_path(@user.id), class: 'btn btn-warning' %>
</p>

 <h3>あなたのお気に入り投稿</h3><br>
 <div class="favrites">
  <% @favorite_blogs.each do |blog| %>
  <table>
    <tr>
      <h2><%= blog.title %></h2>
      <p><%= blog.content %></p>
    </tr>
  </table>
   <% end %>
   <%= link_to "topにもどる", blogs_path %>
</div>
