<h1><%= @user.name %>のページ</h1>
<p class="user_infomation_image">
</p>
<p class="user_infomation">メールアドレス: <%= @user.email %></p>
<p class="user_infomation">
  <%= link_to 'ユーザー情報を編集', edit_user_path(@user.id), class: 'btn btn-warning' %>
</p>

 <h3>あなたのお気に入り投稿</h3><br>
<% @favorite_blogs.each do |blog| %>
<table>
  <tr>
    <th class="index_favorite_blog_user_name">投稿者名</th>
    <th class="index_favorite_blog_title">タイトル</th>
    <th class="index_favorite_blog_content">内容</th>
    <th class="index_favorite_blog_content">image</th>
  </tr>
<% end %>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to "topにもどる", blogs_path %>
